* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.menu-container {
    
    display: flex;
    background-color: #333;
    justify-content: space-between;
}

.menu-container img{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.menu-container a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 20px;
    text-decoration: none;
    font-size: 2rem;
}

.titulo {
    text-align: center;
    margin-top: 60px;
    font-size: 4rem;
}

.cakes-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;
    
}

.cake-card {
    height: 200px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2.5px solid rgb(194, 191, 191);
    border-left: 0.5px solid rgb(194, 191, 191);
    border-right: 0.3px solid rgb(194, 191, 191);
    border-radius: 5px;
    background-color: rgb(246, 248, 250);
    margin: auto;
    
}

.info {

        height: 400px;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;   
}

.info h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.info p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}



.cakes-container div img {
    width: 180px;
    height: 150px;
    margin-top: 20px;
    margin-right: 5px;
}

.form-container {
    width: 90%;
    height: 450px;
}

.form-container h2{
    margin-top: 60px;
    text-align: center;
    font-size: 3rem;
}

.form-container form {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 2rem;
}


.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 40px;
    font-size: 2rem;
    
}

.contact-left, .contact-right p{
    font-size: 1.5rem;
}

.pedidos-table, .ingrediente-table, .adorno-table {
    margin-top: 30px;
    margin-left: 20px;
}

.pedidos-table {
    margin-bottom: 50px;
}

